<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ColorShaper</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" ></script>  
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@latest/dist/teachablemachine-image.min.js"></script>
  </head>

  <body>
    <div class="container">
      {{#if gameStart}}
      <div class="topnav">
        <div class="left">
          <span id="welcomeMsg">Welcome, {{playerName}}</span>
        </div>
        <div class="right">
          <span>Current Level: <span id="currentLevel"></span> </span>
          Score:<span id="score"></span>
          <form class="settings" action="/settings" method="get">
              <button type="submit">&#9881;</button>
          </form>
        </div>        
      </div>
      {{/if}}
      <header>
        <img class="logo" src="/shapes.png" />
        <h1>ColorShaper</h1>
      </header>

      {{{body}}}
      
  </div>
  <script src="/script.js"></script>
  {{!-- <script src="/game.js"></script> --}}
</body>

    </div>
  </body>

</html>