<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ColorShaper</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" ></script>
  </head>

  <body>
    <div class="container">
      <header>
        <img class="logo" src="/shapes.png" />
        <h1>ColorShaper App</h1>
      </header>

      {{{body}}}

    </div>
  </body>

</html>