<body onload="playGame()">
    <div class="container">
        <div class="questionSection">
            <h2>{{randomQuestion.question}}</h2>
        </div>
        <div class="timer">
            {{#if messages.error}}
            {{!-- message class is used by js to hide message after 3 seconds --}}
            {{!-- msgError/msgSuccess is used to style the message accordingly --}}
            <span class="message msgError">
                {{messages.error}}
            </span>
            {{/if}}
            <div class="timerTitle"><h4>remaining time :<span class="countDown">00:10</span></h4></div>
            {{!-- We should add handlebars here for a dynamic timer based on the settings if we got time--}}
            {{#if messages.success}}
            {{!-- message class is used by js to hide message after 3 seconds --}}
            {{!-- msgError/msgSuccess is used to style the message accordingly --}}
            <span class="message msgSuccess">
                {{messages.success}}
            </span>
            {{/if}}
        </div>
        <div class="cameraViewBox">

        </div>


        <div class="hidden" style="display:none">
            <audio controls loop id="music">
                <source src="music.ogg" type="audio/ogg">
                <source src="music.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>

        </div>
    </div>
</body>
<script>
let play = localStorage.getItem("play");
    let sound= localStorage.getItem("sound");


    let audio = document.querySelector("#music");
    audio.volume = 0.2;
    function playGame() {

        swal({
            title: "Dive In!",
            button: { text: "Yay!", className: "btn" },
            className: "alert"
        })
            .then((value) => {

                if (!play) {
                    play = "true";
                    localStorage.setItem("play",play);
                }

                if (value == true) {
                
                        // Function for timer 
                        var seconds = 10;

                        function updateCountdown() {
                            var minutes = Math.floor(seconds / 60);
                            var remainingSeconds = seconds % 60;

                            // Basic syntanx for ternary operator (condition) ? valueIfTrue : valueIfFalse;
                            document.querySelector('.countDown').innerHTML = (minutes < 10 ? '0' : '') + minutes + ':' + (remainingSeconds < 10 ? '0' : '') + remainingSeconds;

                            if (seconds > 0) {
                                seconds--;
                            } else {
                                clearInterval(interval);
                                document.querySelector('.countDown').innerHTML = 'Next Question';
                            }
                        }

                        var interval = setInterval(updateCountdown, 1000)


                    if (play == "true") {

                        var isPlaying = audio.currentTime > 0 && !audio.paused && !audio.ended
                            && audio.readyState > audio.HAVE_CURRENT_DATA;
                            
                
                        if (!isPlaying) {
                            audio.play();

                        }
                        else {
                            console.log("not playing")
                        }

                    }
                    
                    if(!sound){             
                    sound="true";
                    localStorage.setItem("sound",sound)
                    }
                    
                    else{
                    
                    if(sound=="true"){

                    if ('speechSynthesis' in window) {
                        // Speech Synthesis supported 🎉

                        var msg = new SpeechSynthesisUtterance();
                        msg.text = "{{randomQuestion.question}}";
                        msg.pitch = 1.6;
                        msg.lang = "en"
                 
                        window.speechSynthesis.speak(msg);



                    } else {
                        // Speech Synthesis Not Supported 😣
                        alert("Sorry, your browser doesn't support text to speech!");
                    }
                    }
                    
                    }
                }
            }); 
    }
</script>