<div class="container">  
    <div class="game-content">
      
        <h2>Getting started<h2>
        <div class="instructions">
            <p>This is the instructions section explaining how the game works.</p>
            <a href="">Download resource to help play game</a>
        </div>
        <br>
          <span class="error">
            {{messages.error}}
        </span>
        <form action="/" method="post">
            <input type="text" name="playerName" placeholder="Player Name">
            <br>
            <button type="submit">Start Game</button>
        </form>
    </div>
</div>