<div class="container">  
    <div class="game-content">
      
        <h2>Getting started<h2>
        <div class="instructions">
            <p>This is the instructions section explaining how the game works.</p>
            <a href="">Download resource to help play game</a>
        </div>
        <br>
        <form action="/game" method="get">
            <input type="text" placeholder="Player Name">
            <br>
            <button type="submit" id="start">Start Game</button>
        </form>
    </div>
</div>
<script>
</script>