<div class="container">  
    <div class="game-content">
      
        <h2>Getting started<h2>
        <div class="instructions">
            <p>This is the instructions section explaining how the game works.</p>     
      <a href="images.zip" download="images.zip">Download resource to help play game</a>
        </div>
        <br>
        
        
        <form class="playerForm" action="/" method="post">
            {{#if messages.error}}
            {{!-- message class is used by js to hide message after 3 seconds --}}
            {{!-- msgError/msgSuccess is used to style the message accordingly --}}
            <span class="message msgError">
                {{messages.error}}
            </span>
            {{/if}}
            <input type="text" name="playerName" placeholder="Player Name">
            <br>
            <button type="submit">Start Game</button>
        </form>
    </div>
</div>