<div class="container">  
    <div class="game-content">
      
        <h2 style="color:rgb(255, 0, 153)">Getting started<h2>
        <div class="instructions">
            <ol>
                {{!-- <li>Answer questions by showing a shape or color to the camera</li>
                <li>You can download images to play or draw your own</li>
                <li>Enter your name in the player name field</li>
                <li>Press start game</li>
                <li>Allow using your camera</li> --}}
                <li>Show off your super skills by showing shapes and colors to your magical camera</li>
                <li>Grab your crayons or download cool pictures to play with</li>
                <li>Add your secret code to enter the game by typing it into the name field</li>
                <li>Hit the "Start Game" button and let the fun begin</li>
                <li>Give a big smile to your camera friend and say "yes" to let it join the fun</li>
            </ol>
            {{!-- <p>This is the instructions section explaining how the game works.</p>      --}}
      <a href="images.zip" download="images.zip">Download cool pictures</a>
        </div>
        <br>
        
        
        <form class="playerForm" action="/" method="post">
            {{#if messages.error}}
            {{!-- message class is used by js to hide message after 3 seconds --}}
            {{!-- msgError/msgSuccess is used to style the message accordingly --}}
            <span class="message msgError">
                {{messages.error}}
            </span>
            {{/if}}
            <input type="text" name="playerName" placeholder="Player Name">
            <br>
            <button type="submit">Start Game</button>
        </form>
    </div>
</div>