    <body onload="check()">
    <div class="container">
 
    <div>
        
    <form action="/music" method="post">
    <span>Music</span>

  <label class="switch">
  
    <input type="checkbox" id="playMusic"  onclick="saveSettings()"  />
    <span class="slider"></span>
  </label>
  </form>
</div><br>
<div>
  <span>Sound</span>
  <label class="switch">
    <input type="checkbox" id="sound" />
    <span class="slider"></span>
  </label>
</div>
<script> 



function check(){

let isChecked=localStorage.getItem("play");
let playMusic= document.querySelector("#playMusic");

  if(!isChecked){
isChecked=false;
  }

  else{
    if(isChecked=="true"){
      isChecked=true;
    }
    else{
      isChecked=false;
    }
  }

playMusic.checked=isChecked;
}


async function saveSettings(){
if(playMusic.checked){
localStorage.setItem("play","true")

}

else{
localStorage.setItem("play","false")
}
}

</script>
</body>