    <body onload="check()">
    <div class="container">
      <div class="settingControls">
        <h2>Settings</h2>
        <div>  
          <form action="/music" method="post">
            <span>Music</span>
            <label class="switch">
              <input type="checkbox" id="playMusic"  onclick="saveSettings()"  />
              <span class="slider"></span>
            </label>
          </form>
        </div>
        <div>
          <span>Sound</span>
          <label class="switch">
            <input type="checkbox"  id="playSound" onclick="soundSettings()"/>
            <span class="slider"></span>
          </label>
        </div>
      </div>
      <div class="settingBtns">
        {{!-- <form action="/resetScore" method="post">
          <button type="submit" id="settingsReset">Reset Score</button>
        </form> --}}
        <form action="/game" method="get">
          <button type="submit" id="settingsBack">Back</button>
        </form>
      </div>
    </div>
<script> 



function check(){

let isChecked=localStorage.getItem("play");
let soundChecked= localStorage.getItem("sound");
let playMusic= document.querySelector("#playMusic");
const playSound= document.querySelector("#playSound");

  if(!isChecked){
isChecked=false;
  }

  else{
  
    if(isChecked=="true"){
      isChecked=true;
    }
    else{
      isChecked=false;
    }
    
  }

playMusic.checked=isChecked;

if(!soundChecked){
soundChecked=false;

}

else{

    if(soundChecked=="true"){
      soundChecked=true;
    }
    else{
      soundChecked=false;
    }
  }

playSound.checked= soundChecked;


}


 function saveSettings(){
 
if(playMusic.checked){
localStorage.setItem("play","true")

}

else{
localStorage.setItem("play","false")
}

}

function  soundSettings(){

if(playSound.checked){

localStorage.setItem("sound","true");
}

else{
localStorage.setItem("sound","false");
}

}

</script>
</body>