    <body onload="check()">
    <div class="container">
      <div class="settingControls">
        <h2>Settings</h2>
        <div class="settingOption">  
          <form class="settings" action="/music" method="post">
            <span>Music</span>
            <label class="switch">
              <input type="checkbox" id="playMusic"  onclick="saveSettings()"  />
              <span class="slider"></span>
            </label>
          </form>
        </div>
        <div class="settingOption">
          <span>Sound</span>
          <label class="switch">
            <input type="checkbox" id="sound" />
            <span class="slider"></span>
          </label>
        </div>
      </div>
      <div class="settingBtns">
        <form action="/resetScore" method="post">
          <button type="submit" id="settingsReset">Reset Score</button>
        </form>
        <form action="/game" method="get">
          <button type="submit" id="settingsBack">Back</button>
        </form>
      </div>
    </div>
<script> 



function check(){

let isChecked=localStorage.getItem("play");
let playMusic= document.querySelector("#playMusic");

  if(!isChecked){
isChecked=false;
  }

  else{
    if(isChecked=="true"){
      isChecked=true;
    }
    else{
      isChecked=false;
    }
  }

playMusic.checked=isChecked;
}


async function saveSettings(){
if(playMusic.checked){
localStorage.setItem("play","true")

}

else{
localStorage.setItem("play","false")
}
}

</script>
</body>