/* *Import Font */
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&display=swap');
/* *General Styling */
body{
  font-family: 'Playpen Sans',sans-serif;
}
.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #e0fbfc;
    margin-bottom: 1.5em;
    padding-bottom: 2px;
    border-radius: 12px;
}
header{
    display: flex;
    
    justify-content: center;
    margin-top: 2em;
}
.logo{
    height: 5em;
    width: 5em;

}
h1{
    background-image: radial-gradient(#ff9f1c, #011627);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    /* font-weight: 800; */
}

/* ? Flash message styling */
.msgError {
  color:#cc0f35;
  font-weight:bold;
  border: solid 2px #fbcad3;
  background: #fbcad3;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  width: 90%;
}
.msgSuccess {
color:#228b22;
font-weight:bold;
border: solid 2px #bce3bc;
background: #bce3bc;
margin: 0 auto;
border-radius: 5px;
text-align: center;
width: 90%;
}

button{
    padding: 1em;
    background-color: #e71d36;
    color: whitesmoke;
    margin-bottom: 1.5em;
    border: none;
    border-radius: 3px;
}
.game-content{
    text-align: center;
    
}
input[type = text]{ 
        margin-top: 0.5em ;
        padding: 1em;
        margin-bottom: 1.5em;

}

/* ? Landing page specific styling */
.instructions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.playerForm{
  display:flex;
  flex-direction: column;
  justify-content: center;
    align-items: center;
}

/* ? Game page specific styling */
  .topnav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: #2196F3;
    padding: 0 10px;
  }

  .left,.right{
    display:flex;
    align-items: center;
  }

  .topnav #welcomeMsg,
  .topnav #currentLevel,
  .topnav #score {
    font-size: x-large;
    /* margin:2vh; */
    padding:2vh;
  } 

  .topnav button {
    /* float: right; */
    /* background-color: #04AA6D;
    color:#fefefe; */
    text-align: center;
    padding: 0px;
    text-decoration: none;
    font-size: 50px;
    margin: 0px;
    line-height: 1;
  }
  
  .topnav button:hover {
    /* background-color: #ddd;
    color: black; */
    cursor:pointer;
  }
  
  /* overides display block passed by form default css */
  /* this is so that the settings icon lines up properly */
  .settings {
    display: contents;
  }
  .questionSection {
    display: flex;
    justify-content: center;
    font-size: xx-large;
  }

  .timer {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    margin:5vh auto;
    width: 50%;
  }

  .cameraViewBox {
    border: 1px solid black;
    border-radius: 10px;
    margin:5vh auto;
    height: 30vh;    
    width: 50%;
  }
  .alert{   background-color: #cd717c;
    color: aliceblue;
  }
  .btn{
    color: black;
   
  }
  .topnav{
    display: flex;
  }
  .questionSection{
    text-align: center;
    font-size: larger;
  }
  .timerTitle{
    text-align: center;
  }
  .error{
    color:crimson;
    font-size:medium;
    padding-bottom: 0.5em;
  }


  /* ? Settings Screen Styling */
  .settingControls {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .settingOption {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 17px;
    padding:1px;
    margin: 1vh 2vh;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: background-color 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 19px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
  }
  
  input:checked + .slider {
    background-color:  rgb(113, 113, 231);
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }
  form {
    display:contents;
    margin-block: 0px;
  }
  .settingBtns {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  button#settingsReset, button#settingsBack {
    margin: 0.5em;
    cursor: pointer;
  }

  a{
    text-decoration: none;
  }


  #settingsBack{

    width: 200px;
    background-color: rgb(113, 113, 231);
  
  }